In [1]:
import pandas as pd

print("""#Assumptions, data set is as is and does not have any issues
#Issues such as formatting, lack of header and incorrect data types
#all data in the imported set is valid for importation purposes
#some tasks were performed outside of this python script, for information that was
easily analysed from the google docs file, such as:
#date range verification - all dates are in march of the same year,  ids\n""")

#define the list of the dataset from the google docs file
data_source = "https://docs.google.com/spreadsheets/d/16i38oonuX1y1g7C_UAmiK9GkY7cS-64DfiDMNiR41LM/export?format=csv&gid=0"

#import data as a csv
data_set = pd.read_csv(data_source)
print("This is the data set being used:\n", data_set, "\n")

#get the number of rows
Num_Rows = len(data_set)

#given the somewhat large data set, convert from a dictionary to data frame ?
data_set = pd.DataFrame(data_set)

#verify headers
#verify no data in headers?
#if {
#len(data_set.head(0))  == 0
#}

print("\n#AOV(Average order Value) = Revenue / (Total number of orders (5000 orders in total))\n")
AOV = (sum(data_set.iloc[:,3])) / len(data_set)
print("\nAOV =", AOV)

print("""\n#We know that there is an issue with the data (from the problem statement), so first thing to do is ensure the data is valid?
#check the date range, make sure it only includes only data from March
#run checks on the order number, price, starting with the unit price, as well as quantity of items ordered\n""")

print("""\n#To validate the order number, we will search and ensure that there are no duplicates\n""")
val_order_id_set = set(data_set.order_id)

if len(val_order_id_set) != len(data_set.order_id):
    print("\nDuplicates exist\n")
else: print("\nThere are not duplicates in the order_id\n")


print("""#Given the statement that sneakers are affordable, assume that the unit cost of sneakers should be no more than $1000
#according to  an article on statista.com published in Nov 2020, median cost of
#average sneakers typically range between $70 and $250.


#AOV of 3145 seems suspiciously high at a glance, so I will calculate the unit cost of each shoe sold by the stores
#and add it to the data set""")

unit_price = data_set.iloc[:,3]/data_set.iloc[:,4]

#update the data set to include the unit_cost
data_set['unit_price'] = unit_price
print("\nThis is the new data_set with the unit price of a shoe included\n",data_set)

#group the date by the number of times a particular unit cost appears
unit_price_grouped = data_set.groupby("unit_price")["shop_id"].count()
print("\nData set grouped by the unit price of a shoe, counting how many shop_ids match:\n",unit_price_grouped)

print("""\n#From the data set grouped by unit price, it shows that the value 25725 appears to  be incorrect or a unique outlier
#in the data set, which I will exclude for purposes of accuracy, given how large it is compared to the other values
#remove where the unit_cost > 400
#This step assumes that the value (unit cost 25725) is either incorrect - from a bug,
#or incorrect data entry or a unique outlier
#This high unit value would skew the results towards a higher AOV value, due to the high revenue\n""")

data_set_corrected = data_set.loc[data_set.unit_price < 400]
print("""\nThis is the corrected dataset, after removing the purchaces
      at unit cost is 25725\n""",data_set_corrected)



total_items_grouped = data_set.groupby("total_items")["total_items"].count()
print("\nData set grouped by the total items, counting how many times the same number of items were purchased:\n",total_items_grouped)
      
print("""#Inspecting teh data further looking at the total_items column, one thing to notice is the total_items ordered from each shop
#One shop ID 42, user ID 607, ordered 2000 items, which is significantly higher than
#the other number of orders ranging from 1 - 8
#Given that all these orders were from a single store, it could be that these orders were made
#by a customer that regularly buys the same amount of shoes wholesale
#thus using this customer to calculate the AOV or track the growth may skew the data (such as the modal value)
#As such, I have decided to also exclude it from the data set.""")



data_set_corrected2 = data_set_corrected.loc[data_set_corrected.total_items < 2000]

print("""\nThis is the corrected dataset, after removing the purchaces
      at unit cost is 25725 as well as the order of 2000 items from user_id 602\n""",data_set_corrected2)

#recalculate the AOV
print("""\n#The AOV can now be calculated with this "incorrrect" data excluded\n""")

AOV_corrected2 = (sum(data_set_corrected2.iloc[:,3])) / len(data_set_corrected2)

print("""\nThe new AOV after the data has been cleaned up is:\n""", AOV_corrected2)



print("""#In summary, the issue with the data set appears to be abnormally high unit costs
#as well as abnormally high orders from some shops""")

print("""\nNOTE: Below, is some analysis of the data sets at different levels show how the relationship between data changes as
    the data is cleaned up\n""")
mean_data_set = data_set.mean(axis = 0)
median_data_set = data_set.median()
mode_data_set = data_set.mode()

print(f"""\nThe mean of the order amount and total item columns respectively from the original data is:
Mean order amount:\n{mean_data_set.order_amount}
\nMean total items ordered:\n{mean_data_set.total_items}\n""")

print(f"""\nThe median of the order amount and total item columns respectively from the original data is:
\nMedian order amount:\n{median_data_set.order_amount}
\nMedian total items ordered:\n{median_data_set.total_items}\n""")

print(f"""\nThe mode of the order amount and total item columns respectively from the original data is:
Mode order amount:\n{mode_data_set.order_amount[0]}
\nMode total items ordered:\n{mode_data_set.total_items[0]}\n""")

print('-'*30,'\n'*2)
mean_data_set_corrected = data_set_corrected.mean(axis = 0)
median_data_set_corrected = data_set_corrected.median(axis = 0)
mode_data_set_corrected = data_set_corrected.mode(axis = 0)

print(f"""\nThe mean of the order amount and total item columns respectively from the inital data correction
(excluding only the high priced shoes of 25725 is:
Mean order amount:\n{mean_data_set_corrected.order_amount}
\nMean total items ordered:\n{mean_data_set_corrected.total_items}\n""")

print(f"""\nThe median of the order amount and total item columns respectively from the inital data correction
(excluding only the high priced shoes of 25725 is:
\nMedian order amount:\n{median_data_set_corrected.order_amount}
\nMedian total items ordered:\n{median_data_set_corrected.total_items}\n""")

print(f"""\nThe mode of the order amount and total item columns respectively from the inital data correction
(excluding only the high priced shoes of 25725 is:
Mode order amount:\n{mode_data_set_corrected.order_amount[0]}
\nMode total items ordered:\n{mode_data_set_corrected.total_items[0]}\n""")

print('-'*30,'\n'*2)
mean_data_set_corrected2 = data_set_corrected2.mean(axis = 0)
median_data_set_corrected2 = data_set_corrected2.median(axis = 0)
mode_data_set_corrected2 = data_set_corrected2.mode()

print(f"""\nThe mean of the order amount and total item columns respectively from the final data is:
Mean order amount:\n{mean_data_set_corrected2.order_amount}
\nMean total items ordered:\n{mean_data_set_corrected2.total_items}\n""")

print(f"""\nThe median of the order amount and total item columns respectively from the final data is:
\nMedian order amount:\n{median_data_set_corrected2.order_amount}
\nMedian total items ordered:\n{median_data_set_corrected2.total_items}\n""")

print(f"""\nThe mode of the order amount and total item columns respectively from the final data is:
Mode order amount:\n{mode_data_set_corrected2.order_amount[0]}
\nMode total items ordered:\n{mode_data_set_corrected2.total_items[0]}\n""")

#Assumptions, data set is as is and does not have any issues
#Issues such as formatting, lack of header and incorrect data types
#all data in the imported set is valid for importation purposes
#some tasks were performed outside of this python script, for information that was
easily analysed from the google docs file, such as:
#date range verification - all dates are in march of the same year,  ids

This is the data set being used:
       order_id  shop_id  user_id  order_amount  total_items payment_method  \
0            1       53      746           224            2           cash
1            2       92      925            90            1           cash
2            3       44      861           144            1           cash
3            4       18      935           156            1    credit_card
4            5       18      883           156            1    credit_card
...        ...      ...      ...           ...          ...            ...
4995      4996       73      993           330            2          debit
4996      4997       48      789           234            2           cash
4997      4998       56      867           351            3           cash
4998      4999       60      825           354            2    credit_card
4999      5000       44      734           288            2          debit

               created_at
0     2017-03-13 12:36:56
1     2017-03-03 17:38:52
2      2017-03-14 4:23:56
3     2017-03-26 12:43:37
4      2017-03-01 4:35:11
...                   ...
4995  2017-03-30 13:47:17
4996  2017-03-16 20:36:16
4997   2017-03-19 5:42:42
4998  2017-03-16 14:51:18
4999  2017-03-18 15:48:18

[5000 rows x 7 columns]


#AOV(Average order Value) = Revenue / (Total number of orders (5000 orders in total))


AOV = 3145.128

#We know that there is an issue with the data (from the problem statement), so first thing to do is ensure the data is valid?
#check the date range, make sure it only includes only data from March
#run checks on the order number, price, starting with the unit price, as well as quantity of items ordered


#To validate the order number, we will search and ensure that there are no duplicates


There are not duplicates in the order_id

#Given the statement that sneakers are affordable, assume that the unit cost of sneakers should be no more than $1000
#according to  an article on statista.com published in Nov 2020, median cost of
#average sneakers typically range between $70 and $250.


#AOV of 3145 seems suspiciously high at a glance, so I will calculate the unit cost of each shoe sold by the stores
#and add it to the data set

This is the new data_set with the unit price of a shoe included
       order_id  shop_id  user_id  order_amount  total_items payment_method  \
0            1       53      746           224            2           cash
1            2       92      925            90            1           cash
2            3       44      861           144            1           cash
3            4       18      935           156            1    credit_card
4            5       18      883           156            1    credit_card
...        ...      ...      ...           ...          ...            ...
4995      4996       73      993           330            2          debit
4996      4997       48      789           234            2           cash
4997      4998       56      867           351            3           cash
4998      4999       60      825           354            2    credit_card
4999      5000       44      734           288            2          debit

               created_at  unit_price
0     2017-03-13 12:36:56       112.0
1     2017-03-03 17:38:52        90.0
2      2017-03-14 4:23:56       144.0
3     2017-03-26 12:43:37       156.0
4      2017-03-01 4:35:11       156.0
...                   ...         ...
4995  2017-03-30 13:47:17       165.0
4996  2017-03-16 20:36:16       117.0
4997   2017-03-19 5:42:42       117.0
4998  2017-03-16 14:51:18       177.0
4999  2017-03-18 15:48:18       144.0

[5000 rows x 8 columns]

Data set grouped by the unit price of a shoe, counting how many shop_ids match:
 unit_price
90.0        42
94.0        55
101.0       42
111.0       40
112.0      124
114.0       59
116.0       58
117.0       77
118.0      118
122.0       50
127.0       52
128.0       93
129.0      142
130.0      150
131.0       97
132.0       46
133.0      151
134.0       86
136.0      105
138.0       59
140.0       55
142.0      197
144.0       39
145.0       92
146.0       89
147.0       53
148.0      101
149.0       52
153.0      256
154.0       54
155.0       42
156.0      197
158.0       94
160.0      206
161.0      101
162.0       48
163.0      122
164.0      161
165.0       58
166.0       43
168.0       39
169.0       54
171.0       48
172.0       35
173.0       99
176.0      152
177.0      148
178.0      109
181.0      112
184.0       49
187.0      105
190.0       35
193.0       44
195.0       54
196.0       61
201.0       53
352.0       51
25725.0     46
Name: shop_id, dtype: int64

#From the data set grouped by unit price, it shows that the value 25725 appears to  be incorrect or a unique outlier
#in the data set, which I will exclude for purposes of accuracy, given how large it is compared to the other values
#remove where the unit_cost > 400
#This step assumes that the value (unit cost 25725) is either incorrect - from a bug,
#or incorrect data entry or a unique outlier
#This high unit value would skew the results towards a higher AOV value, due to the high revenue


This is the corrected dataset, after removing the purchaces
      at unit cost is 25725
       order_id  shop_id  user_id  order_amount  total_items payment_method  \
0            1       53      746           224            2           cash
1            2       92      925            90            1           cash
2            3       44      861           144            1           cash
3            4       18      935           156            1    credit_card
4            5       18      883           156            1    credit_card
...        ...      ...      ...           ...          ...            ...
4995      4996       73      993           330            2          debit
4996      4997       48      789           234            2           cash
4997      4998       56      867           351            3           cash
4998      4999       60      825           354            2    credit_card
4999      5000       44      734           288            2          debit

               created_at  unit_price
0     2017-03-13 12:36:56       112.0
1     2017-03-03 17:38:52        90.0
2      2017-03-14 4:23:56       144.0
3     2017-03-26 12:43:37       156.0
4      2017-03-01 4:35:11       156.0
...                   ...         ...
4995  2017-03-30 13:47:17       165.0
4996  2017-03-16 20:36:16       117.0
4997   2017-03-19 5:42:42       117.0
4998  2017-03-16 14:51:18       177.0
4999  2017-03-18 15:48:18       144.0

[4954 rows x 8 columns]

Data set grouped by the total items, counting how many times the same number of items were purchased:
 total_items
1       1830
2       1832
3        941
4        293
5         77
6          9
8          1
2000      17
Name: total_items, dtype: int64
#Inspecting teh data further looking at the total_items column, one thing to notice is the total_items ordered from each shop
#One shop ID 42, user ID 607, ordered 2000 items, which is significantly higher than
#the other number of orders ranging from 1 - 8
#Given that all these orders were from a single store, it could be that these orders were made
#by a customer that regularly buys the same amount of shoes wholesale
#thus using this customer to calculate the AOV or track the growth may skew the data (such as the modal value)
#As such, I have decided to also exclude it from the data set.

This is the corrected dataset, after removing the purchaces
      at unit cost is 25725 as well as the order of 2000 items from user_id 602
       order_id  shop_id  user_id  order_amount  total_items payment_method  \
0            1       53      746           224            2           cash
1            2       92      925            90            1           cash
2            3       44      861           144            1           cash
3            4       18      935           156            1    credit_card
4            5       18      883           156            1    credit_card
...        ...      ...      ...           ...          ...            ...
4995      4996       73      993           330            2          debit
4996      4997       48      789           234            2           cash
4997      4998       56      867           351            3           cash
4998      4999       60      825           354            2    credit_card
4999      5000       44      734           288            2          debit

               created_at  unit_price
0     2017-03-13 12:36:56       112.0
1     2017-03-03 17:38:52        90.0
2      2017-03-14 4:23:56       144.0
3     2017-03-26 12:43:37       156.0
4      2017-03-01 4:35:11       156.0
...                   ...         ...
4995  2017-03-30 13:47:17       165.0
4996  2017-03-16 20:36:16       117.0
4997   2017-03-19 5:42:42       117.0
4998  2017-03-16 14:51:18       177.0
4999  2017-03-18 15:48:18       144.0

[4937 rows x 8 columns]

#The AOV can now be calculated with this "incorrrect" data excluded


The new AOV after the data has been cleaned up is:
 302.58051448247926
#In summary, the issue with the data set appears to be abnormally high unit costs
#as well as abnormally high orders from some shops

NOTE: Below, is some analysis of the data sets at different levels show how the relationship between data changes as
    the data is cleaned up


The mean of the order amount and total item columns respectively from the original data is:
Mean order amount:
3145.128

Mean total items ordered:
8.7872


The median of the order amount and total item columns respectively from the original data is:

Median order amount:
284.0

Median total items ordered:
2.0


The mode of the order amount and total item columns respectively from the original data is:
Mode order amount:
153.0

Mode total items ordered:
2.0

------------------------------



The mean of the order amount and total item columns respectively from the inital data correction
(excluding only the high priced shoes of 25725 is:
Mean order amount:
2717.3677836092047

Mean total items ordered:
8.851029471134437


The median of the order amount and total item columns respectively from the inital data correction
(excluding only the high priced shoes of 25725 is:

Median order amount:
284.0

Median total items ordered:
2.0


The mode of the order amount and total item columns respectively from the inital data correction
(excluding only the high priced shoes of 25725 is:
Mode order amount:
153.0

Mode total items ordered:
2.0

------------------------------



The mean of the order amount and total item columns respectively from the final data is:
Mean order amount:
302.58051448247926

Mean total items ordered:
1.9947336439133077


The median of the order amount and total item columns respectively from the final data is:

Median order amount:
284.0

Median total items ordered:
2.0


The mode of the order amount and total item columns respectively from the final data is:
Mode order amount:
153.0

Mode total items ordered:
2.0